

body, ul, table, form{
	margin:0;
	padding:0;
	overflow:hidden;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

#canvas{
	width: 90vw;
	height: 80vh;
	margin: 10px auto 10px auto;
}

#book-zoom{
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
    z-index:1;
}

.sj-book{
	width:90vw;
	height:80vh;
}


.sj-book .book-content{
	margin:1vh 2vw 0 2vw;
}


.sj-book .zoom-this:hover{
	opacity:0.9;
	cursor:pointer;
}


.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

.sj-book .shadow {
	transition: 0.2s;
	box-shadow:0 0 15px #999;
}

.sj-book .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.zoom-pic{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.2);
	z-index:999;
}

.zoom-pic img{
	-webkit-box-shadow:0 0 20px #999;
	-moz-box-shadow:0 0 20px #999;
	-o-box-shadow:0 0 20px #999;
	-ms-box-shadow:0 0 20px #999;
	box-shadow:0 0 20px #999;
}

/*
.sj-book .p1,
.sj-book .p2,
.sj-book .p3, 
.sj-book .p51, 
.sj-book .p52{
	background-color:white;
	background-image:url(assets/book-covers.jpg) !important;
}

.sj-book .p1{
	background-position:0 0;
}
*/

.sj-book .p1 .side{
	width:5px;
	height:600px;
	position:absolute;
	top:0;
	left:475px;
	background:linear-gradient(left, #bbb, #ddd, #bbb);
	transform:rotateY(-90deg);
	transform-origin:top right;
	z-index:100000;
}

.sj-book-transform div[page="1"] > div, .sj-book-transform div[page="2"] > div{
	overflow:visible !important;
}

.sj-book .depth{
	background-image:url(/unearthed/images/shared/pages-depth.png);
	position:absolute;
	top:7px;
	width:16px;
	height:590px;
}

.sj-book .front-side .depth{
	left:4px;
	background-position:0 0;
}

.sj-book .back-side .depth{
	right:4px;
	background-position:right 0;
}





.sj-book .hard{
	width:480px;
	height:600px;
	background-color:white;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
}

.sj-book .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}

.sj-book .own-size{
	width:45vw;
	height:80vh;
	background:url(/unearthed/images/bgs/kraft-light/l.jpg);
	background-position: center;
	background-size: cover;
	overflow:hidden;
}

.sj-book .even{
	background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:linear-gradient(left, #fff 95%, #dadada 100%);
}

.sj-book .odd{
	background-image:-webkit-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-moz-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-ms-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-o-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:linear-gradient(right, #fff 95%, #cacaca 100%);
}

.sj-book .loader{
	background-image:url(/unearthed/images/shared/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.sj-book .page-number{
	color:#999;
	width:100%;
	bottom:0;
	position:absolute;
	display:block;
	text-align: center;
	line-height:30px;
	padding-top: 30px;
	font-size:11px;
	/*background: linear-gradient(to top, rgba(255,255,255,0.8),rgba(255,255,255,0.6),rgba(255,255,255,0.0));*/
}

.table-contents{
	font-size:0.9em;
}

.table-contents li{
	list-style:none;
}

.table-contents span{
	float:right;
}

.table-contents a{
	float:left;
	width:90%;
	clear:both;
	text-decoration:none;
	color:#333;
	margin:2px 0;
	padding:6px 10px 5px 10px;
	background: rgba(0,0,0,0.04);
	border-radius:4px;

}

.table-contents a:hover{
	background:#ff0000;
	color:#fff;
	float:left;
	clear:both;
	text-decoration:none;
}



.ie8 .sj-book .even,
.ie9 .sj-book .even{
	background-image:url(/unearthed/images/shared/gradient-page-left.jpg);
	background-position:right top;
	background-repeat:repeat-y;
}

.ie8 .sj-book .odd,
.ie9 .sj-book .odd{
	background-image:url(/unearthed/images/shared/gradient-page-right.jpg);
	background-position:left top;
	background-repeat:repeat-y;
}



.nowrap {
	white-space: nowrap;
}



img.divider {
	display: block;
	width:70px;
	margin: 0.75em 0 0.75em 0;
}


div.page {
	display: flex;
}

div.cover div.content h1,
div.fullPgImg div.content h1 {
	font-family: "sf";
	font-weight: 500;
	text-transform: none;
	font-size: 2.6em;
	line-height: 1.1em;
	text-shadow: 3px 3px 5px rgba(0,0,0,0.4);
	color: #ffffff;
}
div.fullPgImg div.content h1 {
	font-family: "bureau";
	font-weight: 500;
	text-transform: uppercase;
	font-size: 3.4em;
	line-height: 1.1em;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
	color: #ffffff;
}
div.cover div.content h3,
div.fullPgImg div.content h3 {
	font-family: "bureau";
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 0.04em;
	line-height: 1em;
	text-shadow: 1px 2px 3px rgba(0,0,0,0.4);
	color: #ffffff;

}
div.cover div.content h4,
div.fullPgImg div.content h4 {
	font-size: 1.1em;
	letter-spacing: 0.04em;
	line-height: 1.4em;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(0,0,0,1.0);
}

div.cover {
	background-color: rgba(0,0,0,1.0);
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 80vh;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	width: 100%;

}

div.cover div.content > * {
	color: rgba(255,255,255,1.0);
}
div.fullPgImg {
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	
}
div.fullPgImgContent {
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	width: 100%;

}


div.content {
	padding: 2vw 2vw 4vw 2vw;
}

div.even div.content {
	padding: 2vw 4vw 4vw 2vw;
}
div.odd div.content {
	padding: 2vw 2vw 4vw 4vw;
}
div.cover div.content {
	padding: 2vw 10vw 3vw 2vw;
}
div.fullPgImg div.content {
	padding: 2vw 4vw 4vw 2vw;
	background-image: url(/unearthed/images/shared/grad-left.png);
	background-position: top right;
	background-repeat: repeat-y;
	align-self: stretch;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
}
div.fullPgImg div.content > div {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
}
div.fullPgImg div.content > div section:last-child {
	align-self: flex-end;
}
div.fullPgImgContent div.content {
	background-image: url(/unearthed/images/shared/grad-left.png);
	background-position: top right;
	background-repeat: repeat-y;
	background-color: rgba(0,0,0,0.35);
	align-self: stretch;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

div.fullPgImgContent div.content > div:first-child {
	align-self: flex-start;
}
div.fullPgImgContent div.content > div:last-child {
	align-self: flex-end;
}


@media screen and (min-width: 1400px) {   
	div.cover div.content {
		padding: 2vw 15vw 3vw 2vw;
	}
	div.fullPgImg div.content {
		padding: 3vw 10vw 3vw 2vw;
	}

} 


div.own-size {
	overflow-y: auto !important;
}

div.goColumns2 {
	clear: both;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

div.goColumns2 section {
	flex-basis: 47%;
}
div.goColumns2.thinL section {
	flex-basis: 47%;
	flex:1 1 auto;
}
div.goColumns2.thinL section:first-child {
	flex-basis: 25%;
	margin-right: 2vw;
}
@media screen and (max-width: 1400px) {   
	div.goColumns2.thinL {
		flex-direction: column;
	}
	div.goColumns2.thinL section {
		width: 100%;
	}
	div.goColumns2.thinL section:first-child {
		margin-right: 0;
		margin-bottom: 1em;
	}
} 



div.masthead {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

blockquote {
	display: flex;
	align-items: center;
	margin:0 1em;
	padding: 1em;
}






hr {
	margin:0.5em 0 1.5em 0;
	height:1px;
	border:none;
	background-color: red;;
}






p {
	font-size: 0.85em;
}

p.strong {
	font-weight: 600;
}

p.justify {
	text-align: justify;
}

@media screen and (min-width: 750px) {  
	p {
		font-size: 0.65em;
		line-height: 1.2em;
	}
}  

@media screen and (min-width: 950px) {  
	p {
		font-size: 0.7em;
		line-height: 1.2em;
	}
}  

@media screen and (min-width: 1100px) {   
	p {
		font-size: 0.75em;
		line-height: 1.2em;

	}
} 

@media screen and (min-width: 1200px) {   
	p {
		font-size: 0.80em;
		line-height: 1.2em;

	}
} 

@media screen and (min-width: 1300px) {   
	p {
		font-size: 0.85em;
		line-height: 1.2em;

	}
} 
@media screen and (min-width: 1400px) {   
	p {
		font-size: 0.9em;
		line-height: 1.25em;

	}
} 
@media screen and (min-width: 1700px) {   
	p {
		font-size: 1em;
		line-height: 1.25em;

	}
} 



/* rotation classes */
.rotate5 {
	transform: rotate(5deg);
}
.rotate10 {
	transform: rotate(10deg);
}
.rotate15 {
	transform: rotate(15deg);
}
.rotateNeg5 {
	transform: rotate(-5deg);
}
.rotateNeg10 {
	transform: rotate(-10deg);
}
.rotateNeg15 {
	transform: rotate(-15deg);
}


/* images handling */
img.profile {
	width:8vw;
	margin-left: 2.5vw;
	margin-right: 1vw;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.content picture {
	display: block;
	padding: 0.5em;
}

.content picture img {
	width: 100%;
	height: auto;
	box-shadow: 0 2px 5px 0px rgba(0,0,0,0.2);
}




/* teasers */
div.teasers {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	height: 63vh;
}

div.tItem {
	flex: 1 1 auto;
	flex-basis: 100%;
	margin-bottom: 0.5em;
	background-color: rgba(0,0,0,0.1);
	position: relative;
	background-position: top left;
	background-size: cover;
}
div.tItem:last-child {
	margin-bottom: 0;
}
div.tItem > div {
	background-color: rgba(0,0,0,0.5);
}
div.tItem > div:hover {
	background-color: rgba(0,0,0,0.3);
	box-shadow: 0 0 5px 3px rgba(0,0,0,0.2);
}
div.tItem > div,
div.tItem > div a {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	height: 100%;
	flex-basis: 100%;
	color: rgba(255,255,255,1.0);
	font-size: 1.15em;
	text-decoration: none;
	font-family: "bureau";
	text-transform: uppercase;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}
div.tItem > div a > *:first-child {
	padding: 1.5vw 0.5vw 1.5vw 1vw;
}
div.tItem > div a > *:last-child {
	padding: 1.5vw 1vw 1.5vw 0;
}


@media screen and (max-width: 1400px) {   
	div.teasers {
		display: none;
		height: auto;
	}
	div.tItem {
		flex-basis: 30%;
		margin-bottom: 0;
		background-color: rgba(0,0,0,0.1);
	}
} 
